[Desktop Entry]
Name=Studio Controls
GenericName=Multimedia Controls
Comment=Setup Audio, Video and Graphics
Exec=studio-controls
Icon=studio-controls
Terminal=false
Type=Application
Categories=AudioVideoEditing;Audio;
Keywords=Audio;Utility;Settings
