[Desktop Entry]
Name=Ubuntu Studio Controls
GenericName=Realtime Audio Administrator
Comment=Administer realtime privilege for users
Exec=ubuntustudio-controls
Icon=ubuntustudio-controls
Terminal=false
Type=Application
Categories=GTK;System;Settings
