[Desktop Entry]
Name=Ubuntu Studio Controls
GenericName=Multimedia Controls
Comment=Setup Audio, Video and Graphics
Exec=ubuntustudio-controls
Icon=ubuntustudio-controls
Terminal=false
Type=Application
Categories=Settings;Audio
Keywords=Audio;Utility;Settings
