Source: ubuntustudio-controls
Section: admin
Priority: optional
Maintainer: Ubuntu Studio Development Team <ubuntu-studio-devel@lists.ubuntu.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.4
Vcs-Git: https://git.launchpad.net/ubuntustudio-controls
Vcs-Browser: https://git.launchpad.net/ubuntustudio-controls
Homepage: https://launchpad.net/ubuntustudio-controls

Package: ubuntustudio-controls
Architecture: all
Section: admin
Depends: a2jmidid,
         cpufrequtils,
         jackd2,
         pulseaudio-module-jack,
         python-dbus,
         python-gi,
         python-gobject,
         python3,
         zita-ajbridge,
         ${misc:Depends}
Conflicts: cadence
Description: Ubuntu Studio Controls is a small application that
 enables/disables realtime privilege for users
