[Unit]
Description=Studio - session monitor

# Stops autojack which starts Studio audio in the same way the session
# ended as well as providing a back end for studio-controls for
# changing various settings.
BindsTo=indicator-messages.service
After=indicator-messages.service

[Service]
Type=simple

ExecStart=/bin/sleep infinity

TimeoutStopSec=4

ExecStop=/bin/sleep 3
ExecStopPost=/bin/systemctl --user start systemd-exit.service



[Install]
WantedBy=indicator-messages.service
