[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=AutoJack
Comment=Jackdbus starter
Exec=/usr/bin/autojack >~/.log/autojack.log 2>&1 < /dev/null &
StartupNotify=false
Terminal=false
Hidden=false

