[Desktop Entry]
Name=Ubuntu Studio Controls
Name[en_CA]=Ubuntu Studio Controls
Name[en_GB]=Ubuntu Studio Controls
Name[de_DE]=Ubuntu Studio Steuerungen
Comment=Change settings for multimedia production
Comment[en_CA]=Change settings for multimedia production
Comment[en_GB]=Change settings for multimedia production
Comment[de_DE]=Ändern Sie die Einstellungen für Multimedia-Produktion
Exec=gksu ubuntustudio-controls
Icon=/usr/share/ubuntustudio-controls/ubuntustudio-controls.svg
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Settings;
