[Desktop Entry]
Name=Ubuntu Studio Controls
Name[ar]=
Name[az]=
Name[be]=
Name[bg]=
Name[bn]=
Name[bn_IN]=
Name[br]=
Name[bs]=
Name[ca]=
Name[cs]=
Name[cy]=
Name[da]=
Name[de]=
Name[dz]=
Name[el]=
Name[en_CA]=Ubuntu Studio Controls
Name[en_GB]=Ubuntu Studio Controls
Name[es]=
Name[et]=
Name[eu]=
Name[fa]=
Name[fi]=
Name[fr]=
Name[gl]=
Name[gu]=
Name[he]=
Name[hi]=
Name[hr]=
Name[hu]=
Name[id]=
Name[it]=
Name[ja]=
Name[ka]=
Name[ko]=
Name[ku]=
Name[lt]=
Name[lv]=
Name[mg]=
Name[mk]=
Name[ml]=
Name[mn]=
Name[mr]=
Name[ms]=
Name[nb]=
Name[ne]=
Name[nl]=
Name[nn]=
Name[or]=
Name[pa]=
Name[pl]=
Name[pt]=
Name[pt_BR]=
Name[ro]=
Name[ru]=
Name[si]=
Name[sk]=
Name[sl]=
Name[sq]=
Name[sr]=
Name[sr@Latn]=
Name[ta]=
Name[th]=
Name[tk]=
Name[tr]=
Name[uk]=
Name[vi]=
Name[wa]=
Name[xh]=
Name[zh_CN]=
Name[zh_HK]=
Name[zh_TW]=
Comment=Change settings for multimedia production.
Comment[ar]=
Comment[az]=
Comment[be]=
Comment[bg]=
Comment[bn]=
Comment[bn_IN]=
Comment[br]=
Comment[bs]=
Comment[ca]=
Comment[cs]=
Comment[cy]=
Comment[da]=
Comment[de]=
Comment[dz]=
Comment[el]=
Comment[en_CA]=Change settings for multimedia production.
Comment[en_GB]=Change settings for multimedia production.
Comment[es]=
Comment[et]=
Comment[eu]=
Comment[fa]=
Comment[fi]=
Comment[fr]=
Comment[gl]=
Comment[gu]=
Comment[he]=
Comment[hi]=
Comment[hr]=
Comment[hu]=
Comment[id]=
Comment[it]=
Comment[ja]=
Comment[ka]=
Comment[ko]=
Comment[ku]=
Comment[lt]=
Comment[lv]=
Comment[mg]=
Comment[mk]=
Comment[ml]=
Comment[mn]=
Comment[mr]=
Comment[ms]=
Comment[nb]=
Comment[ne]=
Comment[nl]=
Comment[nn]=
Comment[or]=
Comment[pa]=
Comment[pl]=
Comment[pt]=
Comment[pt_BR]=
Comment[ro]=
Comment[ru]=
Comment[sk]=
Comment[sl]=
Comment[sq]=
Comment[sr]=
Comment[sr@Latn]=
Comment[sv]=
Comment[ta]=
Comment[th]=
Comment[tk]=
Comment[tr]=
Comment[uk]=
Comment[vi]=
Comment[wa]=
Comment[xh]=
Comment[zh_CN]=
Comment[zh_HK]=
Comment[zh_TW]=
Exec=gksu ubuntustudio-controls
Icon=/usr/share/ubuntustudio-controls/ubuntustudio-controls.svg
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Settings;
